01/out/testinput.js
01/out/testinput.js.map
01/node_modules/fs/README.md
01/node_modules/fs/package.json
01/node_modules/@types/node/ts3.6/index.d.ts
01/node_modules/@types/node/ts3.6/base.d.ts
01/node_modules/@types/node/ts3.4/index.d.ts
01/node_modules/@types/node/ts3.4/globals.global.d.ts
01/node_modules/@types/node/ts3.4/base.d.ts
01/node_modules/@types/node/ts3.4/assert.d.ts
01/node_modules/@types/node/fs/promises.d.ts
01/node_modules/@types/node/zlib.d.ts
01/node_modules/@types/node/worker_threads.d.ts
01/node_modules/@types/node/wasi.d.ts
01/node_modules/@types/node/vm.d.ts
01/node_modules/@types/node/v8.d.ts
01/node_modules/@types/node/util.d.ts
01/node_modules/@types/node/url.d.ts
01/node_modules/@types/node/tty.d.ts
01/node_modules/@types/node/trace_events.d.ts
01/node_modules/@types/node/tls.d.ts
01/node_modules/@types/node/timers.d.ts
01/node_modules/@types/node/string_decoder.d.ts
01/node_modules/@types/node/stream.d.ts
01/node_modules/@types/node/repl.d.ts
01/node_modules/@types/node/README.md
01/node_modules/@types/node/readline.d.ts
01/node_modules/@types/node/querystring.d.ts
01/node_modules/@types/node/punycode.d.ts
01/node_modules/@types/node/process.d.ts
01/node_modules/@types/node/perf_hooks.d.ts
01/node_modules/@types/node/path.d.ts
01/node_modules/@types/node/os.d.ts
01/node_modules/@types/node/net.d.ts
01/node_modules/@types/node/module.d.ts
01/node_modules/@types/node/LICENSE
01/node_modules/@types/node/inspector.d.ts
01/node_modules/@types/node/index.d.ts
01/node_modules/@types/node/https.d.ts
01/node_modules/@types/node/http2.d.ts
01/node_modules/@types/node/http.d.ts
01/node_modules/@types/node/globals.global.d.ts
01/node_modules/@types/node/globals.d.ts
01/node_modules/@types/node/fs.d.ts
01/node_modules/@types/node/events.d.ts
01/node_modules/@types/node/domain.d.ts
01/node_modules/@types/node/dns.d.ts
01/node_modules/@types/node/dgram.d.ts
01/node_modules/@types/node/crypto.d.ts
01/node_modules/@types/node/constants.d.ts
01/node_modules/@types/node/console.d.ts
01/node_modules/@types/node/cluster.d.ts
01/node_modules/@types/node/child_process.d.ts
01/node_modules/@types/node/buffer.d.ts
01/node_modules/@types/node/base.d.ts
01/node_modules/@types/node/async_hooks.d.ts
01/node_modules/@types/node/assert.d.ts
10/output
